.insta{
    height: 150px;
    color: pink;
    right: 500%;
    width: 30%;
    left: 300px;
    font-size: 100px;
    right: 300cm;

}
.color{
     color: wheat;
    
}
.color1{
    color: lightblue;
}
.wasap{
    height: 30%;
    color: green;
    right: 500cm;
    width: 30%;
    left: 50%;
    font-size: 100px;

}
.fase{
    height: 30%;
    color: blue;
    right: 500cm;
    width: 30%;
    left: 50%;
    font-size: 100px;
}
.text{
    color: black;
}