<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon class="color" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="color">Solicitar</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="Despedida()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card>
    <img src="assets/duoc.jpg" class="ion-padding">
  </ion-card>
  <ion-card-header>


    <ion-card class="body">
      <ion-card-title class="titulo">Detalles del Viaje Solicitado</ion-card-title>

      <icon-card>
        <img src="assets/duoc.jpg" class="ion-padding">
      </icon-card>
      <ion-card-content>
        <p class="parrafo">
       ¡Felicidades! El viaje que a solicitado esta proximo a su destino.
       </p>
       <icon-card>
        <img src="assets/duo1.jpg" class="ion-padding">
      </icon-card>

      </ion-card-content>
    </ion-card>
    </ion-card-header>

</ion-content>