.color{
    color:black
}
.titulo{
    padding: 10px;
    color:rgb(4, 4, 54);
    text-align: center;
}
.body{
    background-color: lightblue;
}

.parrafo{
    text-align: center;
    color:black;
}
.fondo{
    background-color: blue;
}
.btn{
    padding-left: 16%;
}
.btn2{
    padding-left: 80%;
}