<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon class="color" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="color">Solicitar automovil</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="Despedida()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>

    <ion-card-header>
      <ion-card-title class="parrafo2">Bienvenido a nuestra App </ion-card-title>
      <ion-card-subtitle class="parrafo1">Si se encuentra con movilizacion propia, ingrese el viaje que desea hacer.</ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <img src="assets/ubi.jpg" class="ion-padding">
    </ion-card>
    <ion-card-content>
      <p class="parrafo">
 
     </p>
     <ion-button expand="block" routerLink="/auto2">Pide tu auto</ion-button>

<ion-button color="warning" expand="blonk" routerLink="/inicio" expand="full"  shape="round">
  salir
</ion-button>

    </ion-card-content>
  </ion-card>

  




</ion-content>
