.car{
    height: 100px;
    color: lightblue;
    right: 20cm;
    width: 80px;

}

.boton{
    color: white;
    right: 20cm;
    width: 50%;
    height: 30px;
    position: fixed ;
    left: 80px;
    bottom: 240px;
    
    
    
    
}
.color{
    color: black;
}