.parrafo{
    text-align: justify;
    color: greenyellow;
}

.parrafo2{
    color:brown;
    text-align: justify;
}



.warning{
    color:red;
}

.titulo{
    padding: 10px;
    color:royalblue;
    text-align: center;
}