<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-header>
      <ion-card-subtitle>promociones del dia</ion-card-subtitle>
      <ion-card-title>Bienvenido a nuestras promociones</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="parrafo">
     para nuestros clientes contamos dia a dia con difetentes promociones, a continuacion se veran algunas 
     </p>
    </ion-card-content>
  </ion-card>

  




</ion-content>
